<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
<title>Search web ru</title>
</head>
<body>
<div id="Search_web_ru">
	<img id="logo" src="logo.png" srcset="logo.png 1x, logo@2x.png 2x">
	<svg class="Rectangle_7_r">
		<linearGradient id="Rectangle_7_r" spreadMethod="pad" x1="0" x2="0.754" y1="0.5" y2="0.5">
			<stop offset="0" stop-color="#000" stop-opacity="0.051"></stop>
			<stop offset="1" stop-color="#fff" stop-opacity="0.051"></stop>
		</linearGradient>
		<rect id="Rectangle_7_r" rx="23" ry="23" x="0" y="0" width="574" height="46">
		</rect>
	</svg>
	<div id="__bv">
		<span>Вставьте ссылку</span>
	</div>
	<div id="Group_6">
		<div id="">
			<span>ПОИСК</span>
		</div>
		<div id="_v">
			<span>ТРЕНДЫ</span>
		</div>
	</div>
	<svg class="Rectangle_9_x">
		<linearGradient id="Rectangle_9_x" spreadMethod="pad" x1="1" x2="0" y1="0.468" y2="0.467">
			<stop offset="0" stop-color="#93f4f0" stop-opacity="1"></stop>
			<stop offset="0.4581" stop-color="#d9fbfa" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#fff" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_9_x" rx="0" ry="0" x="0" y="0" width="560" height="1080">
		</rect>
	</svg>
	<div id="Group_5">
		<div id="Group_20">
			<div id="Group_3_bm">
				<img id="share_bn" src="share_bn.png" srcset="share_bn.png 1x, share_bn@2x.png 2x">
				<div id="Group_2_bo">
					<div id="__bp">
						<span>Нажмите<br/>«Поделиться»</span>
					</div>
				</div>
			</div>
			<div id="Group_4_bq">
				<img id="link_br" src="link_br.png" srcset="link_br.png 1x, link_br@2x.png 2x">
				<div id="__bs">
					<span>Скопируйте<br/>ссылку</span>
				</div>
			</div>
		</div>
	</div>
	<svg class="Rectangle_12_">
		<linearGradient id="Rectangle_12_" spreadMethod="pad" x1="1" x2="0" y1="0.468" y2="0.467">
			<stop offset="0" stop-color="#93f4f0" stop-opacity="1"></stop>
			<stop offset="0.4926" stop-color="#e0fcfb" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#fff" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_12_" rx="0" ry="0" x="0" y="0" width="560" height="1080">
		</rect>
	</svg>
	<div id="__bv">
		<span>Вставьте ссылку</span>
	</div>
	<div id="_Copyright_2020_TikTune_bw">
		<span>© Copyright 2020, TikTune</span>
	</div>
	<div id="_English___bx">
		<span>Русский</span><br><span style="color:rgba(138,138,142,1);">English<br/>中文</span><br>
	</div>
	<svg class="Rectangle_17">
		<rect id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="664" height="451">
		</rect>
	</svg>
	<div id="Adsense_bz">
		<span>Adsense</span>
	</div>
	<div id="__bv">
		<span>Вставьте ссылку</span>
	</div>
	<div id="Group_30">
		<div id="_bg">
			<span>ПОИСК</span>
		</div>
		<div id="_bh">
			<span>ТРЕНДЫ</span>
		</div>
	</div>
	<svg class="Rectangle_20_bj">
		<linearGradient id="Rectangle_20_bj" spreadMethod="pad" x1="1" x2="0" y1="0.468" y2="0.467">
			<stop offset="0" stop-color="#93f4f0" stop-opacity="1"></stop>
			<stop offset="0.4581" stop-color="#d9fbfa" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#fff" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_20_bj" rx="0" ry="0" x="0" y="0" width="560" height="1080">
		</rect>
	</svg>
	<div id="Group_31">
		<div id="Group_20_bl">
			<div id="Group_3_bm">
				<img id="share_bn" src="share_bn.png" srcset="share_bn.png 1x, share_bn@2x.png 2x">
				<div id="Group_2_bo">
					<div id="__bp">
						<span>Нажмите<br/>«Поделиться»</span>
					</div>
				</div>
			</div>
			<div id="Group_4_bq">
				<img id="link_br" src="link_br.png" srcset="link_br.png 1x, link_br@2x.png 2x">
				<div id="__bs">
					<span>Скопируйте<br/>ссылку</span>
				</div>
			</div>
		</div>
	</div>
	<svg class="Rectangle_21_bu">
		<linearGradient id="Rectangle_21_bu" spreadMethod="pad" x1="1" x2="0" y1="0.468" y2="0.467">
			<stop offset="0" stop-color="#93f4f0" stop-opacity="1"></stop>
			<stop offset="0.4926" stop-color="#e0fcfb" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#fff" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_21_bu" rx="0" ry="0" x="0" y="0" width="560" height="1080">
		</rect>
	</svg>
	<div id="__bv">
		<span>Вставьте ссылку</span>
	</div>
	<div id="_Copyright_2020_TikTune_bw">
		<span>© Copyright 2020, TikTune</span>
	</div>
	<div id="_English___bx">
		<span>Русский</span><br><span style="color:rgba(138,138,142,1);">English<br/>中文</span><br>
	</div>
	<svg class="Rectangle_23">
		<rect id="Rectangle_23" rx="0" ry="0" x="0" y="0" width="664" height="451">
		</rect>
	</svg>
	<div id="Adsense_bz">
		<span>Adsense</span>
	</div>
	<svg class="Rectangle_24_b">
		<linearGradient id="Rectangle_24_b" spreadMethod="pad" x1="1" x2="0" y1="0.5" y2="0.5">
			<stop offset="0" stop-color="#93f4f0" stop-opacity="1"></stop>
			<stop offset="0.0739" stop-color="#b4f7f5" stop-opacity="1"></stop>
			<stop offset="0.2118" stop-color="#cbfaf8" stop-opacity="1"></stop>
			<stop offset="0.4778" stop-color="#e0fcfb" stop-opacity="1"></stop>
			<stop offset="0.7685" stop-color="#f8fefe" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#fff" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_24_b" rx="23" ry="23" x="0" y="0" width="140" height="46">
		</rect>
	</svg>
	<div id="_b">
		<span>Поиск</span>
	</div>
</div>
</body>
</html>