.Container{
    width: 40vw;
    padding: 10px 30vw;
    min-height: 100vh;
    background:   linear-gradient(to right, rgb(165, 255, 236) 0%, rgb(255, 255, 255) 25%, rgba(255,255,255,1) 50%, rgb(255, 255, 255) 75%, rgb(165, 255, 236) 100%);
}