<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>index.html - mobile - RU</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="indexhtml_-_mobile_-_RU">
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="375" height="357">
		</rect>
	</svg>
	<img id="logo" src="logo.png" srcset="logo.png 1x, logo@2x.png 2x">
	<div id="Group_5">
		<div id="Group_3">
			<img id="share" src="share.png" srcset="share.png 1x, share@2x.png 2x">
			<div id="Group_2">
				<div id="_">
					<span>Нажмите<br/>«Поделиться»</span>
				</div>
			</div>
		</div>
		<div id="Group_4">
			<img id="link" src="link.png" srcset="link.png 1x, link@2x.png 2x">
			<div id="__y">
				<span>Скопируйте<br/>ссылку</span>
			</div>
		</div>
	</div>
	<div id="___TikTok">
		<span>Вся музыка из TikTok</span>
	</div>
	<div id="___">
		<span>Уже в вашей медиатеке</span>
	</div>
	<div id="Group_6">
		<div id="">
			<span>ПОИСК</span>
		</div>
		<div id="_ba">
			<span>ТРЕНДЫ</span>
		</div>
	</div>
	<div id="Group_8">
		<div id="__">
			<span>Вставьте ссылку</span>
		</div>
		<svg class="Line_1" viewBox="0 0 61 2">
			<path id="Line_1" d="M 0 0 L 61 0">
			</path>
		</svg>
	</div>
	<div id="Group_9">
		<svg class="Rectangle_3">
			<rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="333" height="273">
			</rect>
		</svg>
		<div id="Adsense">
			<span>Adsense</span>
		</div>
	</div>
	<svg class="Rectangle_4">
		<rect id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="375" height="281">
		</rect>
	</svg>
	<div id="____">
		<span>Хотите находить музыку<br/>еще быстрее?</span>
	</div>
	<div id="Group_10">
		<svg class="Rectangle_6">
			<rect id="Rectangle_6" rx="7" ry="7" x="0" y="0" width="61" height="27">
			</rect>
		</svg>
		<div id="iOS">
			<span>iOS</span>
		</div>
	</div>
	<div id="Group_12">
		<img id="share-ios" src="share-ios.png" srcset="share-ios.png 1x, share-ios@2x.png 2x">
		<div id="______Safari___">
			<span>Нажмите на кнопку «Поделиться»<br/>в меню Safari   </span>
		</div>
	</div>
	<div id="Group_11">
		<img id="badone" src="badone.png" srcset="badone.png 1x, badone@2x.png 2x">
		<div id="_____">
			<span>Выберите иконку<br/>на экран «Домой» </span>
		</div>
	</div>
	<div id="Group_13">
		<div id="ID3453">
			<span>3453</span>
		</div>
		<div id="__bn">
			<span>поисковых запросов</span>
		</div>
	</div>
	<div id="Group_14">
		<div id="ID1245">
			<span>1245</span>
		</div>
		<div id="__bq">
			<span>песен найдено</span>
		</div>
	</div>
	<div id="Group_15">
		<div id="ID6439">
			<span>6439</span>
		</div>
		<div id="_tiktune">
			<span>посещений tiktune</span>
		</div>
	</div>
	<div id="Group_53">
		<div id="Group_54">
			<svg class="Rectangle_11">
				<rect id="Rectangle_11" rx="0" ry="0" x="0" y="0" width="375" height="340">
				</rect>
			</svg>
			<div id="Group_17">
				<div id="___by">
					<span>Есть что сказать?</span>
				</div>
				<div id="Group_16">
					<svg class="Rectangle_14">
						<rect id="Rectangle_14" rx="6" ry="6" x="0" y="0" width="137" height="27">
						</rect>
					</svg>
					<div id="infotiktuneio">
						<span>info@tiktune.io</span>
					</div>
				</div>
			</div>
			<div id="Group_18">
				<div id="__b">
					<span>Нашли ошибку?</span>
				</div>
				<div id="Group_16_b">
					<svg class="Path_1" viewBox="0 0 145 27">
						<path id="Path_1" d="M 6.041666507720947 0 L 138.9583282470703 0 C 142.2950439453125 0 145 2.686291217803955 145 6 L 145 21 C 145 24.3137092590332 142.2950439453125 27 138.9583282470703 27 L 6.041666507720947 27 C 2.704946041107178 27 0 24.3137092590332 0 21 L 0 6 C 0 2.686291217803955 2.704946041107178 0 6.041666507720947 0 Z">
						</path>
					</svg>
					<div id="bugstiktuneio">
						<span>bugs@tiktune.io</span>
					</div>
				</div>
			</div>
			<div id="Group_19">
				<div id="_b">
					<span>Русский</span>
				</div>
				<div id="English">
					<span>English</span>
				</div>
				<div id="_ca">
					<span>中文</span>
				</div>
			</div>
			<div id="_Copyright_2020_TikTune">
				<span>© Copyright 2020, TikTune</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>