.SongListItem, .row{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

.mobileRow{
    display: flex;
    flex-direction: row;
}

.searchResult{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.ava{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.picture{
    width: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.261);
}

.info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.btns{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.resultBtns{
    margin-top: 20px;
    justify-content: flex-start;
}

.desktop_btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: 40%;
}

.googlePlayLinkIcon{
    width: 70%;
}

.appleIcon{
    transform: translate(25%, 25%);
    height: 70%;
    width: 70%;
}

.appleLink{
    position : relative;
    margin-left: 25px;
}

.appleIcon{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
}


.appleWrapper{
    height: 30px;
}

.icon{
    margin-right: 5px;
    background-color: white;
    border-radius: 5px;
    width: 20%;
}

.listen{
    font-size: .5em;
}

.appleInfo{
    height: fit-content;
}

.name{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.singer{
    font-weight: bold;
    color: gray;
    font-size: 1.25em;
    margin-bottom: 20px;
}

.downloads, .search_downloads{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: gray;
    font-weight: bold;
    margin-top: 10px;
}

.search_downloads{
    margin-top: -10px;
    justify-content: flex-start;
}

.appleMusic{
    white-space: nowrap;
    font-size: .75em;
}

.spotify{
    width: 40px;
    height: 40px;
}

.searchesLabel{
    margin-left: 10px;
}