.Trends{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col{
    width: 85%;
}

.col2{
    width: 10%;
}

.list{
    display: flex;
    flex-direction: column;
}

.preloadWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}