.SearchInput{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.iconClass{
    width: 60px !important;
}

.search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width : 60%;
}

.wrapper{
    margin-left: 5vw;
    width: 80%;
}

.point{
    width: 130px;
}