<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <meta charset="utf-8">
        <link rel="apple-touch-icon" sizes="128x128" href="img/ios-home.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    </head>
    <body>
        <!-- Logo, Instructions -->
        <div id="top-content">
            <div id="logo-div">
                <img src="img/logo.png" style="width: 277px; height: 90px;">
            </div>
            <div id="top-font-div">
                <h1 id="top-font">Вся музыка из TikTok</h1>
                <h1 id="top-font" style="padding-top: 7px;">Уже в вашей медиатеке</h1>
            </div>
            <div id="instructions-div">
                <div id="instructions-div1-img">
                    <img src="img/share.png" id="instructions-img">
                    <h2 id="instructions-font">Нажмите<br>"Поделиться"</h2>     
                </div>  
                <div id="instructions-div2-img">
                    <img src="img/link.png" id="instructions-img">
                    <h2 id="instructions-font">Скопируйте<br>ссылку</h2>
                </div>
            </div>
        </div>
        <!-- Search Section -->
        <div id="search-div">
            <div id="language-div">
                <h2 id="language-font"><a href="" id="language-link">ENGLISH</a></h2>
                <h2 id="language-font"><a href="" id="language-link-chosen">РУССКИЙ</a></h2>
            </div>
            <div id="search-bar-div">
                <!-- Search Form -->
                <form>
                    <input type="text" name="name" class="question" id="nme" required autocomplete="off"/>
                    <label for="nme"><span style="font-size: 35px;">Вставьте ссылку</span></label>
                    <input type="submit" value="Поиск" />
                </form>   
            </div>
        </div>
        <!-- Ads -->
        <div id="ad-div">
            There will be an ad here
        
    
        </div>
        <!-- Quick Access -->
        <div id="shortcut-div">
            <div id="shortcut-content">
                <h1 id="sh-font">Хочешь находить музыку</h1>
                <h1 id="sh-font" style="padding-bottom: 10px;">ещё быстрее?</h1>
                <div id="device">
                    <h4 id="device-font">iOS</h4>
                </div>
                <div id="sh-in">
                    <div id="sh-icon">
                        <img src="img/share-ios.png" style="width: 31px; height: 42px; margin: 0px;">
                    </div>
                    <div id="sh-text">
                        <h4 id="sh-font-in">Нажми на кнопку «Поделиться»</h4>
                        <h4 id="sh-font-in">в меню Safari</h4>
                    </div>
                </div>
                <div id="sh-in-xo">
                    <div id="sh-icon">
                        <img src="img/add-ios.png" style="width: 31px; height: 42px; margin: 0px;">
                    </div>
                    <div id="sh-text">
                        <h4 id="sh-font-in">Выбери иконку</h4>
                        <h4 id="sh-font-in">На экран «Домой»</h4>
                    </div>
                </div>       
            </div>
        </div>
        <!-- Stats -->
        <div id="stat-div">
            <h1 id="stat-font-main">4325</h1>
            <h3 id="stat-font-sub">поисковых запросов</h3>
            <h1 id="stat-font-main" style="padding-top: 10px;">3513</h1>
            <h3 id="stat-font-sub">песен найдено</h3>
            <h1 id="stat-font-main" style="padding-top: 10px;">7450</h1>
            <h3 id="stat-font-sub" style="margin-bottom: 8%;">посещений tiktune</h3>
        </div>
        <!-- Outro -->
        <div id="footer-div">
            <h2 id="footer-h1">Есть что сказать?</h2>
            <div id="contact-div" style="width: 155px;">
                <h3 id="contact-font">info@tiktune.ru</h3>
            </div>
            <h2 id="footer-h1" style="padding-top: 15px;">Нашли ошибку?</h2>
            <div id="contact-div" style="width: 165px;">
                <h3 id="contact-font">bugs@tiktune.ru</h3>
            </div>
            
            <div style="padding-top: 5%; padding-bottom: 10px;">
            <center><small style="color: white; font-family: 'Manrope', sans-serif;">&copy; Copyright 2020, TikTune</small></center>
            </div>
        </div>
    </body>
</html>