.LanguageSwitch{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.language{
    color: gray;
    margin: 5px 0px;
    cursor: pointer;
}

.language[active]{
    color: black;
}